
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: pointer;
}
.container{
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.skeleton__wrapper{
    display: flex;
    justify-content: center;
    gap: 14px;
    flex-wrap: wrap;
    
}
.skeleton__img{
    width: 280px;
    height: 250px;
    background-color: #ddd;
    border-radius: 10px;
}
.skeleton__title,
.skeleton__price{
    width: 90%;
    height: 30px;
    background-color: #ddd;
    margin-top: 10px;
    border-radius: 10px; 
}
.skeleton__price{
    width: 70%
}
.skeleton__anime{
    background: linear-gradient(90deg,#f7f7f7,#ddd,#f7f7f7);
    background-size: 200%;
    animation: skeletonAnime 1s linear 0s infinite ;
}
@keyframes skeletonAnime {
   to{
    background-position: 200%;
   }
}


@import "./components/Navbar.scss";
@import "./components/homeHero.scss";
@import "./components/Homeboxs.scss";
@import "./components/Homecards.scss";
@import "./components/SingleRouter.scss";
@import "./pages/login.scss";
@import "./pages/Admin.scss";
@import "./pages/NotFound.scss"