.cards{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   justify-content: space-between;
   gap: 40px;
}
.card{
    height: 350px;
    width: 100%;
    max-width: 296px;
    box-sizing: border-box;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 15px;

    background: rgb(255, 255, 255);
}
.card__img{
    padding: 25px 25px 15px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 180px;
    height: 200px;
}
.card__content{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0px 10px 30px 21px;
    .card__categoriy{
        color: rgb(173, 173, 173);
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
    }
    .card__title{
        color: rgb(43, 43, 45);
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.48px;
        height: 50px;
        overflow: hidden;
    }
    .card__price{
        color: rgb(59, 183, 126);
        font-family: Poppins;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0%;
    }
}
.product__title{
    padding-bottom: 44px;
    color: rgb(37, 61, 78);
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: 0%;
}
.leranmore__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    padding: 12px 10px;
    margin: 50px auto;
    font-size: 16px;
    color: white;
    background-color: red;
}
.collection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    li{
        color: rgb(43, 43, 45);
        font-family: Poppins;
        font-size: 12px;
        font-weight: 500;
        line-height: 24.9px;
        background-color: bisque;
        color: white;
        letter-spacing: 0.48px;
        border: none;
        box-shadow: 0px 0px 2px 2px white;
        padding: 5px 5px;
        border-radius: 5px;
    }
}